body {
  background: url("../images/1.jpg");
  color: white;
  font-family: 'Chicle', cursive;
}

h1, p {
  text-align: center;
}

.card {
  background: black;
  width: auto;
  height: auto;
}

.jumbotron {
  background: url("../images/5.jpeg");
  
}

#hide-me {

display: none;

}

/* .container {
  position: relative;
  top: 25%;
  bottom: 75%;
  left: 10%;
} */