body {
  background: url("../images/1.jpg");
  color: black;
  font-family: 'Chicle', cursive;
}

h1, p {
  text-align: center;
}

.card {
  background-color: black;
  width: auto;
  height: auto;
}

.jumbotron {
  background: url("../images/5.jpeg");
  color: white;
  align-self: center;
}

#hide-me {
  display: none;
}

#hide-me2 {
  display: none;
}

#dinner {

}

#name-display {
  font-size: 25px;
}

.center {
  text-align: center;
}

#no-match {
  font-size: 25px;
}

/* .container {
  position: relative;
  top: 25%;
  bottom: 75%;
  left: 10%;
} */