body {
  background-color: purple;
  color: white;
  font-family: 'Chicle', cursive;
}

.jumbotron {
  background-color: purple;
 
}


#hide-me {

display: none;

}


/* .container {
  position: relative;
  top: 25%;
  bottom: 75%;
  left: 10%;
} */